repeat {
   color: rgb(63, 111, 167);
   font-size: 25px;
}
rest{
    font-size: 25px;
}
repeat[n="1"]:before {
   content: "★";
}

repeat[n="2"]:before {
   content: "★ ★";
}

repeat[n="3"]:before {
   content: "★ ★ ★";
}

repeat[n="4"]:before {
   content: "★ ★ ★ ★";
   color: rgb(63, 111, 167);

}

repeat[n="5"]:before {
   content: "★ ★ ★ ★ ★";
}

rest[n="-1"]:after {
   content: "★";
}

rest[n="-2"]:after {
   content: "★ ★";
}

rest[n="-3"]:after {
   content: "★ ★ ★";
}

rest[n="-4"]:after {
   content: "★ ★ ★ ★";
}

rest[n="-5"]:after {
   content: "★ ★ ★ ★ ★";
}
